<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<h1 >STOCK Table</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Symbol</th>
        <th>Name</th>
        <th>Country</th>
        <th>Sector</th>
        <!-- Add more headers as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of stocks and display the data -->
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.getId()}"></td>
        <td th:text="${stock.getSymbol()}"></td>
        <td th:text="${stock.getName()}"></td>
        <td th:text="${stock.getCountry()}"></td>
        <td th:text="${stock.getSector()}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>

</body>
</html>